[Desktop Entry]
Name=Trash
Name[en]=Trash
Comment=Trash applet for COSMIC DE
Comment[en]=Trash applet for COSMIC DE
Type=Application
Icon=user-trash-symbolic
Exec=cosmic-applet-trash
Terminal=false
StartupNotify=true
Categories=COSMIC;Applet;
Keywords=cosmic;desktop;trash;garbage;restore;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
